# Node folders
node_modules

# Build Folders
dist

# Mac files
.DS_Stores

# Testing files & folders
temp

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform.lock.hcl


# Secrets
sa_key.json